@model IEnumerable<TreeBranchWeb.Models.DichotomousKey>
@{
    ViewBag.Title = "Index";
}

<h2>All Dichotomous Keys</h2>

@foreach (var key in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">@key.Name</h3>
            <p class="card-text">
                <strong>@key.Questions.Count</strong> questions.
            </p>
            <p class="card-text">
                <strong>@key.Matches.Count</strong> matches.
            </p>
            @Html.ActionLink("Use", "Use", "Keys", new { keyName = ViewBag.KeyName }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit", "Edit", "Keys", new { keyName = ViewBag.KeyName }, new { @class = "btn btn-warning" })
        </div>
    </div>
}