@model IEnumerable<TreeBranchWeb.Models.DichotomousKey>
@{
    ViewBag.Title = "All Keys";
}

<h2>All Dichotomous Keys</h2>

<div class="container">
    @foreach (var key in Model)
    {
        <div class="card col-sm-4" style="width: 18rem">
            <div class="card-body">
                <h3 class="card-title">@key.Name</h3>
                <p class="card-text">
                    <strong>@key.Questions.Count</strong> questions.
                </p>
                <p class="card-text">
                    <strong>@key.Matches.Count</strong> matches.
                </p>
                @Html.ActionLink("Use", "Use", "Keys", new { keyName = key.Name }, new { @class = "btn btn-primary" })
                @Html.ActionLink("View", "View", "Keys", new { keyName = key.Name }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>