@model TreeBranchWeb.Models.DichotomousKey
@{
    ViewBag.Title = ViewBag.KeyName + " Key";
}

<h2>@ViewBag.Title</h2>

@if (!Model.QuestionsFinalized)
{
    <div class="alert alert-warning" role="alert">
        This key has <strong>@Model.Questions.Count</strong> 
        @if (Model.Questions.Count == 1)
        {
            @:question.
        }
        else
        {
            @:questions.
        }
        Consider @Html.ActionLink("adding questions", "New", "Questions", new { keyName = Model.Name }, new { @class = "alert-link" }).
        @if (Model.CanFinalizeQuestions())
        {
            @:If there are no more questions to add, 
            Html.ActionLink("finalize questions", "Finalize", "Questions", new { keyName = Model.Name }, new { @class = "alert-link" });
            @:and move on to adding matches.
        }
    </div>
}
else if (!Model.MatchesFinalized)
{
    <div class="alert alert-warning" role="alert">
        This key has <strong>@Model.Matches.Count</strong>
        @if (Model.Matches.Count == 1)
        {
            @:match.
        }
        else
        {
            @:matches.
        }
        @if (Model.CanAddMatches())
        {
            @:You must 
            @Html.ActionLink("add matches", "New", "Matches", new { keyName = Model.Name }, new { @class = "alert-link" });
            @: before you can use this key.
        }
        else
        {
            @:This key is almost ready to use. 
            Html.ActionLink("Finalize matches", "Finalize", "Matches", new { keyName = Model.Name }, new { @class = "alert-link" });
            @: to begin using the key.
        }
    </div>
}

<ul>
    <li>
        This key's <strong>@Model.Questions.Count</strong> questions <strong>@(Model.QuestionsFinalized ? "are" : "are not")</strong> finalized.
    </li>
    <li>
        This key's <strong>@Model.Matches.Count</strong> matches <strong>@(Model.MatchesFinalized ? "are" : "are not")</strong> finalized.
    </li>
    <li>
        This key <strong>@(Model.MatchesFinalized ? "is" : "is not")</strong> ready to use.
    </li>
</ul>

@Html.ActionLink("Use Key", "Use", "Keys", new { @class = "btn btn-primary" + 
    (Model.MatchesFinalized ? "" : " disabled") })
@Html.ActionLink("View Questions", "Index", "Questions", new { keyName = Model.Name }, new { @class = "btn btn-default" })
@Html.ActionLink("View Matches", "Index", "Questions", new { keyName = Model.Name }, new { @class = "btn btn-default" })